In [1]:
import pandas as pd

In [16]:
df = pd.read_csv("grace_goals.csv")
df['Time'] = 600 - df['Time']

,Unnamed: 0,Anomalies(#),Blockade(#),DeepSurveyedGoals(#),DeepSurveyedGoals(Positions),Goals(#),Hotspots(Positions),RemoraAttacks(#),SurveyedGoals(#),SurveyedGoals(Positions),Time,index
0,0,0,0,0,NaN,0,NaN,0,0,NaN,1.0,0
1,1,0,0,0,NaN,1,Tx1y3,0,1,Tx1y3,7.0,0
2,2,1,0,1,Tx1y3,2,Tx1y3,1,1,Tx1y3,22.0,0
3,0,0,0,0,NaN,0,NaN,0,0,NaN,1.0,1
4,1,0,0,0,NaN,1,Tx3y1,0,1,Tx3y1,8.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
92,2,2,1,0,NaN,2,NaN,1,2,Tx0y3;Tx0y2,24.0,23
93,3,3,1,0,NaN,3,NaN,2,3,Tx0y3;Tx0y2;Tx0y1,37.0,23
94,0,0,0,0,NaN,0,NaN,0,0,NaN,1.0,24
95,1,0,0,0,NaN,1,NaN,0,1,Tx0y4,8.0,24
96,2,1,0,0,NaN,2,NaN,1,2,Tx0y3;Tx0y4,18.0,24

In [52]:
result_df = None

def fun(x, interval=25, deadline=600):
    
    
    result = {
             "index": [],
             "Time":[],
             "Goals(#)":[]}
    
    no_of_goals = 0
    for i in range(0,deadline,interval):
        rows = x[ (x["Time"] >= i) & (x["Time"] < (i+ interval))]
        if len(rows) > 0:
            no_of_goals = rows['Goals(#)'].sum()

        result["Time"].append(i+ interval)
        result["Goals(#)"].append(no_of_goals)
        
        if result_df:
            result_df
        
    return pd.Series(result)
        
    
    
df.groupby("index")[['Time', 'Goals(#)', "index"]].apply(lambda x : fun(x))

,Time,Goals(#)
index,,
0,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
1,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
2,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
3,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
4,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
5,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, ..."
6,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, ..."
7,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, ..."
8,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[3, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, ..."
9,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[3, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, ..."
10,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
11,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
12,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, ..."
13,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
14,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[3, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, ..."
15,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
16,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
17,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
18,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
19,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
20,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, ..."
21,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
22,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[3, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, ..."
23,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
24,"[25, 50, 75, 100, 125, 150, 175, 200, 225, 250...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."